.permission-container {
  display: flex;
  gap: 20px;
}

.permission-box {
  width: 200px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
}

.menu-container {
  width: 250px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
}

.child-menu-container {
  flex: 1;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  background: #f8f9fa;
}

mat-list-item {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding: 10px;
}

mat-list-item.active {
  background-color: #d1eaff;
  font-weight: bold;
  border-radius: 5px;
}

mat-icon {
  margin-right: 10px;
}

mat-checkbox {
  margin-left: 10px;
}
