.forgot-pass-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
.forgot-pass-sub-container {
  height: 100vh;
  overflow: hidden;
  padding: 0 5% 0 0;
}
.forgot-mat-card {
  position: relative;
  bottom: 0;
  top: 20%;
}

.form-field {
  width: 100%;
  margin: 0% 0%;
}
.forgot-pass-containt {
  text-align: left;
  background-color: #ffff;
  border-radius: 12px 12px 0 0;
  padding: 9% 14%;
  height: 90vh;
}

.forgot-text {
  padding-bottom: 5%;
}
.forgot-heding {
  padding-top: 7px;
  padding-bottom: 10px;
  font-family: Inter;
  font-weight: 500;
}
.forgot-heding-span {
  color: #656363;
  font-size: 12px;
  line-height: 21.78px;
  margin: 0;
}
.email-text {
  padding-bottom: 2%;
}
.forgot-mat-label {
  font-size: 12px;
}
.form-footer {
  display: flex;
  padding-left: 10px;
  align-items: center;
  justify-content: start; /* Aligns items to the left */
  gap: 30px;
}
.back-btn {
  display: flex;
  gap: 10px;
}
.back-icon {
  color: #1363df;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}
.material-symbols-outlined {
  border: 1px solid #1363df;
  font-size: 15px;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

a {
  font-size: 14px;
  color: #656363;
  cursor: pointer;
}
.forgot-pass-header {
  display: flex;
  flex-direction: column;
  padding: 14px 10px;
}
.otp-button {
  padding-top: 0%;
}
.otp-button button {
  width: 100%;
  border-radius: 4px;
  background-color: #1363df;
  color: #ffff;
  align-items: center;
}
