.page-not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full screen height */
    text-align: center;
    background-color: #f0f8ff; /* Light blue background */
  
    h1 {
      font-size: 3rem;
      color: #007bff; /* Blue color */
      margin-bottom: 10px;
    }
  
    p {
      font-size: 1.5rem;
      color: #0056b3; /* Darker blue */
      margin-bottom: 20px;
    }
  
    button {
      padding: 10px 20px;
      font-size: 1.2rem;
      color: #fff;
      background-color: #007bff; /* Blue button */
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background 0.3s ease;
  
      &:hover {
        background-color: #0056b3; /* Darker blue on hover */
      }
    }
  }
  